<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.motang.crawl.mapper.CrawlSourceMapper">
    <!-- 基础返回结果集 -->
    <resultMap id="CrawlSourceMap" type="com.motang.crawl.api.entity.CrawlSource">
              <id property="id" column="id"/>
             <result property="sourceName" column="source_name"/>
             <result property="crawlRule" column="crawl_rule"/>
             <result property="sourceStatus" column="source_status"/>
             <result property="createTime" column="create_time"/>
             <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 基础列 -->
    <sql id="baseColumn">
                     id,
                     source_name,
                     crawl_rule,
                     source_status,
                     create_time,
                    update_time
    </sql>

    <update id="updateSourceStatusById">
        UPDATE crawl_source
        SET source_status = #{status}
        WHERE
            id =#{sourceId}
    </update>
</mapper>
